html {
  background: linear-gradient(rgba(151, 237, 246, 0.677), #f1e389 70.71%);
}

body {
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 10% 10%;
  text-align: center;
}

input,
textarea,
button,
select {
  font: inherit;
  margin-bottom: 1em;
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  transition: ease-in-out 0.5s;
  color: black;
  background-color: lightblue;
}
button:hover {
  background-color: yellow;
  transform: scale(1.05);
}

section {
  margin-top: 1em;
}
article {
  margin: 0.5em 0.5em 0.5em 0;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1em;
}

article > p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1.2rem;
  margin: 0.5em 0;
}

form {
  display: flex;
  flex-direction: column;
}

.postCredit {
  font-size: 1rem;
}

.reactionButton {
  margin: 0 0.25em 0 0;
  background: transparent;
  border: none;
  font-size: 1em;
  color: whitesmoke;
}
